<!DOCTYPE html>     
<html lang="en">
<head>
    <link rel="stylesheet" href="../public/images/css/style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Doctor Dashboard</title>
</head>
<body>
    <div>
      <div id ="header">
        <h1>Doctor Dashboard</h1>
        <p class="a">Welcome <%= user.name%> </p>
        <img src="/public/images/b.jpg"></img>
      </div>
     </div>