<!DOCTYPE html>     
<html lang="en">
<head>
    <link rel="stylesheet" href="../public/images/css/style.css">
</head>
<style>
  .aa{
    padding-top: 0px 25px;
    margin-left: 100px;
  }
  a{
    color: cornsilk;
  }
  .icon{
    width: 35px;
    height:35px;
    margin-top: 9px;
  }
</style>
<div id ="sidebar">
    <ul class="navbar-nav">
        <li><a href="/viewprofilepatient" class="nav-link"><img class="icon" src="/public/images/report-icon.png">  View Profile</a></li></i>
        <li><a href="/seereport" class="nav-link"><img class="icon" src="/public/images/report-icon.png">  See Reports</a></li></i>
        <li><a href="/upload_reports" class="nav-link"><img class="icon" src="/public/images/plus-512.png">  Upload Reports</a></li>
        <li><a href="/knowyourdisease" class="nav-link"><img class="icon" src="/public/images/Cardiology-red-icon.png">Know your disease</a></li>
        <li><a href="/feedback" class="nav-link"><img class="icon" src="/public/images/feedback.png">Send Feedbacks</a></li>
        <li><a href="/viewdoctor" class="nav-link"> <img class="icon" src="/public/images/report-icon.png">View Doctors</a></li>
    </ul>
    <br>
    <a href="/patient/logout" class="aa btn btn-success">Logout</a>
</div>