<!DOCTYPE html>     
<html lang="en">
<head>
    <link rel="stylesheet" href="../public/images/css/style.css">
</head>
<style>
   .aa{
    padding-top: 0px 25px;
    margin-left: 100px;
  }
  a{
    color: cornsilk;
  }
  .icon{
    width: 35px;
    height:35px;
    margin-top: 9px;
  }
</style>
<div id ="sidebar">
    <ul class="navbar-nav">
        <li><a href="/view_patientreport" class="nav-link"><img class="icon" src="/public/images/report-icon.png">  See Reports</a></li></i>
        <li><a href="/patient_list" class="nav-link"><img class="icon" src="/public/images/plus-512.png">View Patients</a></li>
        <li><a href="/makeappointments" class="nav-link"><img class="icon" src="/public/images/feedback.png">Make Appointments</a></li>
        <li><a href="/view_profile" class="nav-link"><img class="icon" src="/public/images/feedback.png">View Profile</a></li>
    </ul>
    <br>
    <a href="/patient/logout" class="aa btn btn-success">Logout</a>
</div>