<%- include('./partials/headerDr.ejs'); %>
<%- include('./partials/sideMenuDr.ejs'); %>
      <div id ="data"><br>
        <span id="datafield" ><h3>Hello <%= user.name%></h3></span>
        <p class="b">You can see the contents here</p>
      </div>