<!--DASHBOARD SECTION-->
<header id="main-header" class="py-2 bg-info text-white">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h1><i class="fa fa-user"></i>Doctor Profile</h1>
      </div>
    </div>
  </div>
</header>
<section id="actions" class="py-4 mb-4">
    <div class="container">
      <div class="row">
        <div class="col-md-3 mr-auto">
            <a href="/doctordashboard" class="btn btn-light btn-block">
            <i class="fa fa-arrow-left"></i> Back To Dashboard
          </a>
        </div>
        
        <div class="col-md-3">
          <a href="" class="btn btn-primary btn-block" data-toggle="modal" data-target="#changePasswordModal">
            <i class="fa fa-key"></i> Change Password
          </a>
        </div>
        
        <div class="col-md-3">
          <a href="" class="btn btn-warning btn-block" data-toggle="modal" data-target="#updateProfileModal">
            <i class="fa fa-refresh"></i> Update Profile
          </a>
        </div>
        
        <div class="col-md-3">
            <a class="btn btn-danger btn-block" disabled title="You have to return all borrowed/renewed books first">
              <i class="fa fa-remove"></i> Delete Profile
            </a>
          </div>
    </div>
  </section>

  <!--PROFILE-->
<section class="mt-4">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
              <a href="" class="text-muted ml-5" data-toggle="modal" data-target="#changePhotoModal"><i class="fa fa-camera"></i> Change Photo</a>
            </div>
            <div class="col-md-6">
                <h4 class="text-center pb-3">Personal Informations</h4>
               
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">First Name :   <%= user.name%></li>
                  <li class="list-group-item">Email :  <%= user.email%> </li>
                  <li class="list-group-item">Joined :  <%= user.date%> </li>
                </ul>
               
            </div>
            
            <div class="col-md-3">
                <h4 class="text-center pb-3">Terms & Conditions</h4>
                <ul>
                    <li>Rule x should be abided by everyone</li>
                    <li>Rule x should be abided by everyone</li>
                    <li>Rule x should be abided by everyone</li>
                    <li>Rule x should be abided by everyone</li>
                </ul>
            </div>
        </div>
    </div>
</section>