
<%- include('./partials/sideMenu.ejs'); %>
<style>
    .card{
        font-size: medium;
        /* background: rgb(67, 65, 75); */
        border :1px solid rgb(67, 65, 75); 
    }
    .col-sm-8{
        margin-left: 30%;
    }
    .up_rep{
        text-align: center;
    }
</style>
<div id ="data"><br>
    <h4 class="up_rep">Send us feedback </p></h4>
    <br>
    <br>
       
    <form action="/feedback/feedbackform" method="POST" >
        <div class="col-sm-8">
            <div class="card">
              <div class="card-body">
                <div class="form-group">
                    <label for="feedback-form-name">Name</label>
                    <input type="text" class="form-control" id="feedback-form-name" name="name" placeholder="Enter your name">
                </div>
                
                <div class="form-group">
                    <label for="feedback-form-title">Title</label>
                    <input type="text" class="form-control" id="feedback-form-title" name="title" placeholder="Title of your feedback">
                </div>
                <div class="form-group">
                    <label for="feedback-form-message">Message</label>
                    <textarea type="text" placeholder="Enter your message, then hit the submit" name="message"  class="form-control" id="feedback-form-message" rows="6"></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Send</button>
              </div>
            </div>
        </div>
</body>
</html>