<style>
  body{
    background:	black;
  }
  .card{
    background:	rgba(11, 211, 191, 0.918);
  }
  p{
    background: #21C6B6;
    color : white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    font-weight: 500;
  }
</style>
<body>
  <div class="row mt-5">
    <div class="col-md-6 m-auto">
      <div class="card card-body text-center">
        <img src="../public/images/b.jpg"></img>
        <p>Choose account type</p>
        <a href="/patient/welcome" class="btn btn-dark btn-block mb-2"
          >Patient</a>
        <a href="/doctor/welcomedr" class="btn btn-dark btn-block">Doctor</a>
      </div>
    </div>
  </div>
</body>