
<%- include('./partials/sideMenu.ejs'); %>
<style>
    .card{
        font-size: medium;
        /* background: rgb(67, 65, 75); */
        border :1px solid rgb(67, 65, 75); 
    }
    .col-sm-8{
        margin-left: 30%;
    }
    .up_rep{
        text-align: center;
    }
</style>
      <div id ="data"><br>
        <h4 class="up_rep">Upload your reports </p></h4>
        <br>
        <br>
        
        <form action="/upload_reports" method="POST" enctype="multipart/form-data">
            <div class="col-sm-8">
                <div class="card">
                  <div class="card-body">
                      <div>
                          <label class="card-title" for="title">Report Description</label>
                          <input type="text" name="title" id="title">
                      </div>
                      <br>
                      <div>
                          <label for="image">Image</label>
                          <input type="file" name="image" id="image">
                      </div>
                    <br>
                    <button type="submit" class="btn btn-primary">Upload</button>
                  </div>
                </div>
              </div>
        </form>
        </div>